# Исключаем .env файл, чтобы он не попадал в репозиторий
.env

# Системные файлы и папки
.DS_Store
Thumbs.db

# Исключаем скомпилированные бинарные файлы
*.exe
*.out
*.o

# Папка для скомпилированных бинарников Go (если используете `go build -o bin/`)
/bin/

# Кэшированные файлы Go
*.test
*.cover
*.prof
*.trace
*.so

# Исключаем файлы кэша, временные и другие системные папки
*.log
*.tmp
*.temp
*.swp
*.swo

# Исключаем пользовательские файлы конфигурации IDE
.vscode/
.idea/
*.iml

# Исключаем зависимости (если используются модули, то эта строчка необязательна)
vendor/
